
<section class="container">
    <% @task.errors.full_messages.each do |message| %>
        <div class="msg error my-3">
            <%= message %>
        </div>
    <% end %>
    <div class="text-center mt-3">
        <span>タスクの情報を編集してください</span>
    </div>
    <div class="text-center py-3">
        <%= form_for(@task) do |f| %>
            <div class="my-3">
                <%= f.label :タスク名 ,  class:"d-block"%>
                <%= f.text_field :name, value: @task.name ,class:"form w-50" %>
            </div>
            <div class="my-3">
                <%= f.label :状態 ,class:"d-block"%>
                <%= f.select :status, [["未着手",0],["進行中",1],["完了",2]],{}, {class: 'form bg-white'} %>
            </div>
            <div class="my-3">
                <%= f.label :期限 ,class:"d-block"%>
                <%= f.date_select :dead_line,{use_month_numbers: true,date_separator: '/'}, {class: 'form bg-white'} %>
            </div>
            <%= f.submit '更新', class: "btn standard" %>
        <% end %>
    </div>
</section>
