<h1>Tasks#new</h1>
<p>Find me in app/views/tasks/new.html.erb</p>
<% if @task.errors.full_messages %>
    <% @task.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
<% end %>
<%= form_for(@task,url: "/task_lists/#{@task_list.id}/new") do |f| %>
    <%= f.label :タスク名 %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :状態 %>
    <%= f.select :status, [["未着手","未着手"],["進行中","進行中"],["完了","完了"]] %>
    <br>
    <%= f.label :期限 %>
    <%= f.date_select :dead_line, use_month_numbers: true %>
    <br>
    <%= f.submit '作成' %>
<% end %>