<section class="container">
    <%= render "layouts/error_messages" %> 
    <div class="text-center mt-3">
        <span>ユーザー情報を編集してください</span>
    </div>
    <div class="text-center py-3">
         <%= form_for(@user) do |f| %>
            <div class="my-3">
                <%= f.label :ユーザー名 , class:"d-block" %>
                <%= f.text_field :name , class:"form w-50" %>
            </div>
            <div class="my-3">
                <%= f.label :メールアドレス , class:"d-block" %>
                <%= f.email_field :email , class:"form w-50" %>
            </div>
            <div class="my-3">
                <%= f.label :パスワード , class:"d-block" %>
                <%= f.password_field :password , class:"form w-50" %>
            </div>
            <%= f.submit '更新', class: "btn standard" %>
        <% end %>
    </div>
</section>